html,
body {
    height: 100%;
    scroll-padding-top: 100px
}

.Site-content {
    padding-top: 100px;
    margin-bottom: 100px;
}

.leaflet-container {
    height: 600px;
    width: 100%;
}

.underSpeed {
    color: rgb(255, 0, 0);
}

.overSpeed {
    color: rgb(255, 153, 0);
}

.nullSpeed {
    color: rgb(126, 126, 126);
}

.working {
    color: green;
}